* {
	margin: 0;
	padding: 0;
}
img {
	display: block;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}


/*top*/

.top {
	width: 1348px;
	height: 30px;
	background: #ff5073;
}

.top p {
	font-size: 11px;
	color: #fff;
	height: 30px;
	line-height: 30px;
	margin-left: 102px;
	background: url(../images/index.png) no-repeat left center;
	background-size: 18px 18px;
	text-indent: 22px;
	float: left;
}

.top p a {
	color: #fff;
	margin-right: 10px;
}

.top p a:hover {
	text-decoration: underline;
}

.top ul {
	float: right;
	margin-right: 105px;
}

.top ul li {
	float: left;
	height: 30px;
	line-height: 30px;
}

.top ul li:nth-child(2) a {
	border-right: 1px solid #fff;
	padding-left: 16px;
	padding-right: 17px;
}

.top ul li:nth-child(3) {
	margin-left: 22px;
	margin-right: 22px;
	text-indent: 15px;
	background: url(../images/index.jpg) no-repeat 0 8px;
	position: relative;
}

.top ul li:nth-child(4) {
	text-indent: 21px;
	background: url(../images/index11.png) no-repeat 0 8px;
}

.top ul li a {
	font-size: 11px;
	color: #fff;
}


/*logo*/

.logo {
	width: 1348px;
	height: 90px;
	border-bottom: 1px solid #dddddd;
}

.logo img {
	margin-left: 100px;
	margin-top: 27px;
	float: left;
}

.sou {
	width: 422px;
	height: 38px;
	border: 1px solid #ff5073;
	border-radius: 38px;
	float: left;
	margin-left: 110px;
	margin-top: 25px;
}

.sou input {
	width: 366px;
	height: 38px;
	border: 0;
	margin-left: 15px;
	float: left;
	outline: none;
}

.sou img {
	float: left;
	margin: 0;
	margin-top: 7px;
}

.logo_1 img {
	margin: 0;
	position: absolute;
	right: 100px;
}


/*nav*/

.nav {
	width: 1348px;
}

.ul_1 {
	height: 45px;
	margin-left: 100px;
	border-bottom: 1px solid #dddddd;
}

.ul_1 li {
	float: left;
	font-size: 15px;
	margin: 22px 20px 5px 20px;
	position: relative;
}

.ul_1 li a {
	color: #000;
}

.ul_1 li a:hover {
	color: #ff5073;
}

.ul_1 li:nth-child(1) {
	width: 160px;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 5px;
	text-indent: 55px;
	background: url(../images/index0.png) no-repeat 28px 24px #f2f2f2;
	position: relative;
}

.ul_1 ul li:nth-child(1) {
	background: none;
	margin: 0;
	padding: 0;
}

.ul_1 ul {
	float: left;
	height: 480px;
	background: rgb(0, 0, 0, 0.5);
	position: absolute;
	top: 168px;
	left: 100px;
	display: block;
	z-index: 1;
    box-shadow:  0 0 5px #999;
}

.ul_1 ul li {
	float: none;
	margin: 0;
}

.ul_1 ul li a {
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	text-indent: 35px;
}

.ul_1 ul li:hover {
	background: #fff;
}

.ul_1 ul li:hover a {
	color: #ff5073;
}

#nav_1 li div {
	float: left;
	height: auto;
	background: #fff;
	position: fixed;
	left: 160px;
	top:0;
	display: none;
	height: 480px;
	box-shadow:  0 0 5px #999;
}
#nav_1 li ul {
	float: left;
	height: auto;
	background: #fff;
	height: 480px;
}

#nav_1 li ul li {
	float: none;
	margin: 0;
}

#nav_1 li ul li a {
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #000;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	text-indent: 35px;
}

#nav_1 li ul li:hover a {
	color: #ff5073;
}

.ul_1 li .logo_pony {
	display: none;
	background: #fff;
	height: auto;
	position: absolute;
	top: 25px;
	left: -20px;
}

.ul_1 li .logo_pony a {
	color: #000;
}


/*大图*/
#big_tu {
	width: 1348px;
	height: 480px;
	position: relative;
	overflow: hidden;
}
.slide li{
	float: left;
}
.slide>ul{
	position: absolute;
}
.slide>ol{
	position: absolute;
	right: 0;
	bottom: 0;
}
.slide>ol li{
	padding: 5px;
}
.slide>ol span{
	display: block;
	border-radius: 50%;
	background: rgba(255,255,255,.9);
	cursor: pointer;
}

.slide>p{
	position: absolute;
	display: block;
	border-radius: 50%;
	background: rgba(255,255,255,.9);
	text-align: center;
	cursor: pointer;
	opacity: 0;
}
.slide>p:nth-of-type(1){
	left: 5px;
}
.slide>p:nth-of-type(2){
	right: 5px;
}

/*滑动*/
.dong1{
	width: 1348px;
	height: 120px;
}
.dong h3{
	font-size: 22px;
	color: #333333;
	margin-left: 130px;
	margin-top: 47px;
	float: left;
}
.dong p{
	font-size: 12px;
	color: #666;
	margin-left: 24px;
	margin-top: 57px;
	float: left;
}
#dong2{
	width: 1172px;
	height: 360px;
	margin-left: 100px;
	position: relative;
	overflow: hidden;
}
#dong2_1 {
	width: 2051px;
	position: absolute;
	overflow: hidden;
}
#dong2 img{
	width: 234px;
	height: 242px;
	margin: 0 auto;
}
#dong2_1>div a{
	width: 293px;
	height: 360px;
	display: block;
}
#dong2_1>div a div{
	font-size: 14px;
	color: #2d2d2d;
	margin-top: 15px;
	text-align: center;
	width: 234px;
	height: 40px;
	margin: 0 auto;
}
#dong2_1>div{
	width: 293px;
	height: 360px;
	float: left;
}
#dong2_1 div a p{
	width: 293px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
	color: #ff5073;
	margin: 0 ;
	margin: 0 auto;
}
#dong2_1 div a p i{
	color: #999999;
	text-decoration: line-through;
	font-style: normal;
}
#dong2_left,#dong2_right{
	width: 27px;
	height: 44px;
	background: #666666;
	color: #fff;
	font-size: 23px;
	line-height: 44px;
	text-align: center;
	margin: 0;
	cursor: pointer;
	position: absolute;
	top: 100px;
	z-index: 1;
}
#dong2_left{
	left: 0;
}
#dong2_right{
	right: 0;
}


/*content*/
.content{
	width: 1348px;
	overflow: hidden;
}
#con{
	width: 1230px;
	margin: 0 auto;
	margin-top: 2px;
}
.con_pro{
	width: 350px;
	height: 425px;
	float: left;
	margin-right: 60px;
	margin-bottom: 45px;
	position: relative;
}
.con_pro_1{
	width: 270px;
	margin: 0 auto;
	cursor: pointer;
}
.con_pro_mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 350px;
	height: 425px;
	background: rgb(0,0,0,0.3);
	z-index: 1;
	cursor: pointer;
}
.con_pro_mask1{
	width: 150px;
	height: 150px;
	border-radius:50% ;
	background: rgb(255,255,255,0.8);
	margin: 0 auto;
	margin-top: 125px;
}
.con_pro_mask1 p{
	text-align: center;
	height: 150px;
	line-height: 150px;
	font-size: 35px;
	color: #000;
}
.con_pro_1 img{
	width: 270px;
	height: 270px;
}
.con_pro_1 h3{
	font-size: 18px;
	color:#5c5c5c;
	font-weight: 100;
}
.con_pro_1 h4{
	font-size: 16px;
	color:#5c5c5c;
	line-height: 30px;
	font-weight: 100;
}
.con_pro_2{
	width: 350px;
	height: 60px;
	margin-top: 40px;
	background: #fff5f9;
}
.con_pro_2 div:nth-child(1){
	width: 70px;
	height: 60px;
	float: left;
	color: #ff7e00;
	font-size: 18px;
	line-height: 60px;
	text-align: center;
	margin-left: 22px;
}
.con_pro_2 div:nth-child(2){
	width: 70px;
	height: 60px;
	float: left;
	margin-left: 10px;
}
.con_pro_2 div:nth-child(2) p:nth-child(1){
	font-size: 12px;
	color: #beb7ba;
	margin-top: 14px;
	text-decoration: line-through;
}
.con_pro_2 div:nth-child(2) p:nth-child(2){
	font-size: 12px;
	color: #fd49ac;
	line-height: 22px;
}
.con_pro_2 button{
	width: 125px;
	height: 60px;
	background: #fd49ac;
	color: #fff;
	font-size: 20px;
	border: 0;
	float: right;
	cursor: pointer;
	outline: none;
}
.con_pro:hover{
	box-shadow: 0px 0px 10px #999;
}
